* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
  height: 100vh;
}
/*
header compoment
*/

header h1 {
  font-size: 90px;
  text-transform: lowercase;
  font-weight: 300;
  color: pink;
}
/*
Add todo compoment
*/

.Input-text, {
  width: 400px;
  margin: 0 auto;
}
.Input-text input[type=text] {
  width: 80%;
  font-size: 24px;
  height: auto;
  padding: 10px 20px;
  margin: 10px auto;
  margin-top: 0;
  text-align: center;
  display: block;
  box-shadow: 11px 11px 5px 0px rgba(173,187,194,0.87);
  border: none
}

/*
Todo compoment
*/
.Todo-List {
  width: 400px;
  height: 55vh;
  overflow: auto;
  margin: 0 auto;

}
.ListItem {
  width: 80%;
  list-style-type: none;
  display: flex;
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #ff8080;
}
.ListItem p {
  display: block;
  width: 90%;
  align-self: flex-start;
  display: flex;
  align-content: flex-start;
  text-transform: capitalize;
}
.ListItem button, .ListItem input[type="checkbox"] {
  display: block;
  width: 10%;
  align-self: flex-end;
}
.Todotext {
  color: burlywood;
}

/*
Footer Header
*/

footer {
  padding: 10px;
  border-top: 1px solid #ff8080;
  display: flex;
  justify-content: space-between;
}
.information {
  display: flex;
  align-self: center;
}
.Avatar {
  width: 40px;
  border-radius: 50%;
}
.Author__name {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  color: #ff8080;
}
.Author__Social {
  width: 15%;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}
.Author__Social a {
  color: #ff8080;
  

}

/*
Buttons
*/
.Button__status {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 10px;
}
.Button__status button, .Button__status-not-active {
  width: 100px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 4px 0;
}
.Button__status-active {
  background-color: #ff8080;
}
